# dependencies
node_modules/

# Vite / build output
dist/
node_modules/.vite/

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# test coverage
coverage/

# editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# lockfiles (if you don’t commit them)
package-lock.json
pnpm-lock.yaml
yarn.lock

# JetBrains
*.iml
